/* Resets all the HTML semantic elements */
table,thead,tbody,html,body,hgroup,section,article,nav,footer,h1,h2,h3,h4,h5,h6,p,a,figure,div,ul,li,header,img{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}