body{
    background-color: cornsilk;
}
fieldset{
    outline: 3pt solid darkslategray;
    border: 3pt solid darkblue;
    margin-top: 5em;
    width: 50em;
    height: 25em;
    margin-left: 20em;
    background-color: purple;
}
fieldset h1{
    text-decoration: underline;
    padding-top: 1em;
    text-align: center;
    font-size: 3em;
    font-family: sans-serif;
    font-weight: bold;
    color: lightgrey;
}
.username,.password{
    padding-top: 3em;
}
div label{
    font-size: large;
    font-family: cursive;
    font-weight:bold;
    color:lightgoldenrodyellow
}
div p{
    color: white;
}
.email,.pass{  
    box-sizing: border-box;
    width: 13em;
    height: 2em;
}
.submit{
    margin-top: 1em;
    background-color: cadetblue;
    font-size: 1.9em;
    padding: 0.2em;
    margin-left: 11.5em;
    border: 2pt solid black;
}
.submit:hover{
    background-color: white;
}